<%- include('./header.ejs') %>
  <!-- Hero Section -->
  <section class="heroShow" id="hero">
    <a href="#" style="text-decoration: none;"><h2 class="hero_header" >Classic Car Collection<span class="light">&nbsp;</span></h2></a>
	  <a href="#" style="text-decoration: none"><p class="tagline">Designs that stood the test of time</p></a>
  </section>
  <!-- About Section -->
  <section class="showAll" id="show">
	  <div class="showbox">
    <h2 class="aboutHeader">Featured Classic</h2>
    <h2><strong><a href ="#" style="text-decoration: none; color: #000000;"> <%= foundVehicle.name %> </a></strong></h2><br><br>
    <img src="<%= foundVehicle.img %>" style="width: 700px; border-radius: 15px;">
    <form action="/vehicles/<%= foundVehicle.id %>?_method=DELETE" method="POST">
            <button class="deletebutton">DELETE</button>
          </form>
    <form action="/vehicles/<%= foundVehicle.id %>/edit">
            <button>EDIT</button>
          </form> 
	  <br><br><br>
	  </div>
  </section>
  
  <%- include('./footer.ejs') %>