<%- include('./header.ejs') %>
  <!-- Hero Section -->
  <section class="heroTrack" id="hero">
    <a href="#" style="text-decoration: none;"><h2 class="hero_header" >Track Feature<span class="light">&nbsp;</span></h2></a>
	  <a href="#" style="text-decoration: none"><p class="tagline">The Stig Approves</p></a>
  </section>
  <!-- About Section -->
  <section class="showAll" id="show">
	  <div class="showbox">
    <h2 class="aboutHeader">New Track Toy</h2>
    <h2><strong><a href ="#" style="text-decoration: none; color: #000000;"> <%= foundVehicle.name %> </a></strong></h2><br><br>
    <img src="<%= foundVehicle.img %>" style="width: 700px; border-radius: 15px;">
    <form action="/vehicles/<%= foundVehicle.id %>?_method=DELETE" method="POST">
            <button>DELETE</button>
          </form>
          <button><a href="/vehicles/<%= foundVehicle.id %>/edit" style="text-decoration: none; color: #000000;">EDIT</a></button>
	  <br><br><br>
	  </div>
  </section>
  
  <%- include('./footer.ejs') %>